# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

# Virtual envs
.venv/
venv/
ENV/

# VSCode
.vscode/

# Streamlit
.streamlit/

# Environment variables
.env
.env.local
*.env

# Docker
*.log
